<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

{{!-- Create a table --}}
<h2>Books Table</h2>
<p>Browse list of books in the stores.</p>
<table class="displayTable" id="book-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Publication year</th>
            <th>Price</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr data-value={{this.bookID}}>
            <td>{{this.bookID}}</td>
            <td>{{this.title}}</td>
            <td>{{this.yearOfPublication}}</td>
            <td>{{this.price}}</td>
            <td>
                <button onclick="updateBook({{this.bookID}})">Update</button>
            </td>
            <td>
                <button onclick="deleteBook({{this.bookID}})">Delete</button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_book.js"></script>

<h2>Add a Book</h2>
<form id="add-book-form" method="POST" action="/add-book-form">
    <table class="addTable">
        <tbody>
            <tr>
                <td>
                    <label for="title">Title:</label>
                </td>
                <td>
                    <input autofocus type="text" id="addTitle" name="title" required maxlength="255" />
                </td>
                <td class="errorColumn">
                    <div id="addTitleError"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="author1">Author 1:</label>
                </td>
                <td>
        <select name="author1test" id="addAuthor1">
            <option value="">Select an Author</option>
            {{#each authors}}
            <option value="{{this.authorID}}">{{this.firstName}} {{this.lastName}}</option>
            {{/each}}
        </select>
                </td>
                <td class="errorColumn">
                    <div id="addAuthor1Error"></div>
                </td>
            </tr>
            <tr id="addAuthor2"></tr>
            <tr>
                <td>
                    <label for="yearOfPublication" required>Year of Publication:</label>
                </td>
                <td>
                    <input type="number" value="0" min="1901" max="2155" id="addYearOfPublication" name="yearOfPublication" required />
                </td>
                <td class="errorColumn">
                    <div id="addYearOfPublicationError"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="price">Price:</label>
                </td>
                <td>
                    <input value="0" type="number" id="addPrice" name="price" required min="0" max="1000000000" />
                </td>
                <td class="errorColumn">
                    <div id="addPriceError"></div>
                </td>
            </tr>
        </tbody>
    </table>
    <input type ="submit" style="background-color: gray; color: white;" class="addButton" value="Add Book">
</form>


<h2>Update a book</h2>
<form>
    <table class="updateTable">
        <tbody>
            <tr>
                <td>
                    <label for="title">Title:</label>
                </td>
                <td>
                    <input autofocus type="text" id="updateTitle" name="title" required maxlength="255" />
                </td>
                <td class="errorColumn">
                    <div id="updateTitleError"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="author1">Author 1:</label>
                </td>
                <td>
                    <select id="updateAuthor1" name="author1" required>
                        <option value="NULL" selected> None </option>
                        {{#each authors}}
                        <option value="{{this.authorId}}">{{this.firstName}} {{this.lastName}}</option>
                        {{/each}}
                    </select>
                </td>
                <td class="errorColumn">
                    <div id="updateAuthor1Error"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="author2">Author 2:</label>
                </td>
                <td>
                    <select id="updateAuthor2" name="author2" required>
                        <option selected="selected" value="NULL"> None </option>
                        {{#each authors}}
                        <option value="{{this.authorId}}">{{this.firstName}} {{this.lastName}}</option>
                        {{/each}}
                    </select>
                </td>
                <td class="errorColumn">
                    <div id="updateAuthor2Error"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="yearOfPublication" min="1900" max="" required>Year of Publication:</label>
                </td>
                <td>
                    <input type="number" value="0" min="0" max="3000" id="updateYearOfPublication" name="yearOfPublication" required min="0"/>
                </td>
                <td class="errorColumn">
                    <div id="updateYearOfPublicationError"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="price">Price:</label>
                </td>
                <td>
                    <input type="number" value="0" id="updatePrice" name="price" min="0" max="1000000000000" required/>
                </td>
                <td class="errorColumn">
                    <div id="updatePriceError"></div>
                </td>
            </tr>
        </tbody>
    </table>
    <button disabled style="background-color: gray; color: white; cursor: not-allowed;" class="updateButton" type="button" onclick="alert('Update book button clicked')">Update</button>
</form>
